/* Fixes iOS font sizing anomaly */
code {
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* Custom footnote styling */
.footnotes {
  background-color: unset;
}

.footnotes ol {
  border-bottom: 2px solid var(--tertiary-bg);
  padding-bottom: 20px;
}

.footnotes ol:before {
  content: "";
}

.footnotes hr {
  display: block;
  margin-bottom: 0;
}

/* Fix hr border*/
hr {
  border: none;
}

/* Entry links */
.post-entry:hover .entry-header h2 {
  color: unset;
  box-shadow: unset;
}

.post-entry .entry-header:hover h2 {
  color: var(--link-hover-color);
  box-shadow: var(--link-hover-underline-shadow);
}
