---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import BlogPostCard from "../components/BlogPostCard.astro";

const posts = (await getCollection("blog"))
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
	.slice(0, 5);
---

<BaseLayout>
	<section>
		<p>
			I’m a developer in the north of England, with a habit of breaking
			warranties.
		</p>
		<p>
			You can find write ups of my <del>fumblings</del> amazing successes below.
			Alternatively check out my work on GitHub.
		</p>
		<p>Want to hire me? Get in touch.</p>
	</section>

	<section id="blog-posts" aria-label="Blog posts">
		<header id="blog-post-header">
			<h2>Latest Blog Posts</h2>
			<button class="btn btn-default btn-ghost">
				<a href="/archive">View all posts</a>
			</button>
		</header>

		<ul>
			{
				posts.map((post) => (
					<li>
						<BlogPostCard post={post} />
					</li>
				))
			}
		</ul>
	</section>
</BaseLayout>

<style>
	header#blog-post-header {
		h2 {
			margin: 0;
		}

		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	ul {
		list-style: none;
		padding: 0;
	}

	li {
		&::after {
			content: unset;
		}
		padding: 0;
		
		& + li {
			margin-top: calc(var(--global-space) * 3);
		}
	}
</style>
