---
interface Props {
	date: Date;
}

const { date } = Astro.props;
---

<div>
	<time datetime={date.toISOString()} title={date.toISOString()}>
		{
			date.toLocaleDateString("en-us", {
				year: "numeric",
				month: "short",
				day: "numeric",
			})
		}
	</time>	
</div>

<style>
	time {
		cursor: pointer;
	}
</style>
