---
import HeaderLink from "./HeaderLink.astro";
import ThemeToggle from "./ThemeToggle.astro";
import SiteTitleLogo from "./SiteTitleLogo.astro";
---

<header>
	<SiteTitleLogo />
	<nav class="terminal-menu">
		<ul class="terminal-menu">
			<HeaderLink href="/archive">Archive</HeaderLink>
			<li><ThemeToggle /></li>
		</ul>
	</nav>
</header>

<style>
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: var(--global-space);
		width: 100%;
	}
	.terminal-menu ul {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 0;
		gap: var(--global-space);

		li {
			margin: 0;

			&:first-child {
				margin-left: auto;
			}
		}
	}
</style>
